@model ISTPLR_one.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Замовлення</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cashier.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoffeeShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoffeeShop.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
