@model IEnumerable<ISTPLR_one.Cashier>

@{
    ViewData["Title"] = "Index";
}

<h1>Бариста</h1>

<p>
    <a asp-action="Create">Додати бариста</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fathername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeShop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fathername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoffeeShop.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CashierId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.CashierId">Деталі</a>  
                @if (item.Orders.Count == 0)
                {
                    <span>|</span><a asp-action="Delete" asp-route-id="@item.CashierId">Видалити</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
