@model IEnumerable<ISTPLR_one.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Продукти за категорією: @ViewBag.CategoryName</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.CategoryID">Додати</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.ProductId, catId = ViewBag.CategoryID }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.ProductId, catId = ViewBag.CategoryID })
                @if (item.Positions.Count == 0 && item.Clients.Count == 0)
                {
                    <span>|</span>@Html.ActionLink("Видалити", "Delete", new { id = item.ProductId, catId = ViewBag.CategoryID })
                }
            </td>
        </tr>
}
    </tbody>
</table>

@Html.ActionLink("Перейти до категорій", "Index", "Categories")
